%h3= "#{current_user.email}'s Dashboard"
%hr
= link_to('New Game', new_game_path)
%h4 Games In Progress
%table
  %tr
    %th Game ID
    %th Current / Total Players
    %th Current / Total Rounds
  - current_user.games.in_progress.each do |game|
    %tr
      %td= game.id
      %td= "#{game.players.count} / #{game.num_players}"
      %td= "#{game.round} / #{game.num_rounds}"
%hr
%h4 Games Awaiting Players
%table
  %tr
    %th Game ID
    %th Current / Total Players
    %th Current / Total Rounds
  - Game.awaiting_players.each do |game|
    %tr
      %td= game.id
      %td= "#{game.players.count} / #{game.num_players}"
      %td= "#{game.round} / #{game.num_rounds}"
%hr
%hr
%hr
%h4 Created Games
%table
  %tr
    %th Game ID
    %th Current / Total Players
    %th Current / Total Rounds
  - Game.created_by(current_user).each do |game|
    %tr
      %td= game.id
      %td= "#{game.players.count} / #{game.num_players}"
      %td= "#{game.round} / #{game.num_rounds}"
