= link_to('New Game', new_game_path)
%h4 Join A Game
%table
  %tr
    %th Game ID
    %th Current / Total Players
    %th Current / Total Rounds
    %th Join
  - Game.waiting_for_players.each do |game|
    %tr
      %td= game.id
      %td= "#{game.players.count} / #{game.num_players}"
      %td= "#{game.round} / #{game.num_rounds}"
      %td
        = form_for(game, {url: game_join_path(game), method: :post}) do |f|
          = f.submit('Join')
%hr
%hr
%hr
%h4 Created Games
%table
  %tr
    %th Game ID
    %th Current / Total Players
    %th Current / Total Rounds
  - Game.created_by(current_user).each do |game|
    %tr
      %td= game.id
      %td= "#{game.players.count} / #{game.num_players}"
      %td= "#{game.current_round} / #{game.num_rounds}"
