%div.row
  %div.span8
    - if @game.waiting_for_players?
      %div.waiting
        %h4= "Waiting for #{@game.num_players_missing} #{'player'.pluralize(@game.num_players_missing)} to join the game."
    - elsif @game.in_progress?
      %h3.phrase= "#{@round.card.phrase}..."
      - if @round.accepting_responses?
        - if @round.judge == current_user || @round.player_responded?(current_user)
          %div.waiting
            %h4= "Waiting for #{@round.num_responses_missing} #{'player'.pluralize(@round.num_responses_missing)} to respond."
        - else
          %div.response= render('response_form')
      - elsif @round.accepting_scores?
        - if @round.judge == current_user
          %div.score= render('score_form')
        - else
          %div.waiting
            %h4= "Waiting for #{@round.judge.email} to award points."
            %ul
              - @round.responses_sorted_by_response.each do |response|
                %li= response.response
      - else
        %div.waiting
    - elsif @game.complete?
      %div.details= render('details')
  %div.span4
    %div.info= render('info')
    - unless @game.waiting_for_players?
      %div.scoreboard= render('scoreboard')
